.Dogs {
    text-align: center;
    padding: 1.5rem 0.75rem;
}




.Dogs input[type=search] {
    font-family: Papyrus, Times, fantasy;
    text-align: center;
    font-size: 1.3em;
    border: none;
    border-radius: 20px;
    background: var(--accent-color);
    box-shadow: inset 5px 5px 8px #606249, inset -5px -5px 8px #ffffe4;
    width: 30em;
    padding: 1em;
    margin-bottom: 1.5em;
    }

.Dogs input[type=search]:focus {
    outline: none;
}

.Dogs main {
    display: flex;
    flex-direction: column wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.DogItem {
    display: flex;
    flex-direction: column;
    width: 13em;
    margin: 0.5em;
    color: black;
    text-decoration: none;
    padding-bottom: 1em;
}


.DogItem:hover {
    transform: scale(1.05);
}

.DogItem .DogInfo {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}

.DogItem .name {
    text-align: left;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.5em;
}
.DogItem .DogInfo .sex {
    box-shadow: inset 3px 3px 3px #a75e5e, inset -3px -3px 3px #ffa0a0;
    background: #d36f6f;
    width: 2em;
    height: 2em;
    text-align: right;
    object-fit: contain;
    padding: 0.3em;
    margin-left:2em;
}

.DogItem p {
    text-align: left;
    margin: 0px;
    font-size: 1em;
}

.DogItem img {
    width: 12em;
    height: 12em;
    object-fit: cover;
    border: none;
    border-radius: 20%;
    box-shadow: 9px 9px 18px #a75e5e, -9px -9px 18px #ffa0a0;
}

#header1 {
    display: block;
}